* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::selection {
    background-color: transparent;
}

html, body {
    overflow-x: hidden;
}

body {
    background: #525050;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

main {
    
}

/* HEADER / NAVBAR STYLES START */

header {
    background-color: #383737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0 1vh 10vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    position: fixed;
    width: 100vw;
    opacity: .75;
}

header div {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 22px;

}

header div p {
    font-size: 10px;
    padding-left: 15%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 50vw;
    padding: 2vh 9vw 2vh 0;
}

header nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* HEADER / NAVBAR STYLES END */

/* HERO SECTION STYLES START */
.hero {
    height: 100vh;
    width: 100vw;
    /* Photo by <a href="https://unsplash.com/@el_ham?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hamish Weir</a> on <a href="https://unsplash.com/s/photos/night-sky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url(../images/hamish-weir-cuO6_mnbgPE-unsplash.jpg);
    background-size: cover;
    background-position: center;  
}

/* TYPING STYLES / ANIMATION START*/
.typing {
    font-size: 50px;
    text-align: center;
    position: relative;
    height: 1%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    display: inline-block;
    opacity: .75;
}


#upper {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: typing 6s forwards 2s, fadeout 5s forwards 10s;
    animation-fill-mode: both;
    overflow: hidden;
    white-space: nowrap;
}

#lower {
    position: absolute;
    top: 87vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: typing 6s forwards 4s, fadeout 5s forwards 10s;
    animation-fill-mode: both;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* TYPING STYLES / ANIMATION END */



/* HERO IMAGES STYLES / ANIMATION START */
#hero-images-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#base-triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 1;
}

/* UPPER TRIANGLE STYLES / ANIMATION START */
#upper-triangle {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: upper;
    animation-fill-mode: backwards;
    z-index: 2;
}

@keyframes upper {
    from {
        top: 20%;
        left: 50%;
        margin-left: -250px;
        opacity: 0;
    }

    to {
        top: 40%;
        left: 50%;
        margin-left: -250px;
        opacity: 1;
    }
}

/* LOWER TRIANGLE STYLES / ANIMATION START */
#lower-triangle {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -250px;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: lower;
    overflow: hidden;
    animation-fill-mode: backwards;
    z-index: 2;
}

@keyframes lower {
    from {
        top: 30%;
        left: 50%;
        margin-left: -250px;
        opacity: 0;
    }

    to {
        top: 45%;
        left: 50%;
        margin-left: -250px;
        opacity: 1;
    }
}

/* COMET STYLES / ANIMATION START */
.comet {
    position: absolute;
    top: -25vh;
    right: -25vw;
    animation-duration: .65s;
    animation-delay: 4s;
    animation-name: comet;
    animation-fill-mode: backwards;
    transform: rotate(10deg);
    max-width: 75px;
    max-height: auto;
} 

@keyframes comet {
    from {
        top: -25vh;
        right: -25vw;
    }
    to {
        top: 100vh;
        right: 100vw;
    }
}

@keyframes const-comet {
    from {
        top: -25vh;
        right: -25vw;
    }
    to {
        top: 100vh;
        right: 100vw;
    }
}
/* HERO IMAGES STYLES / ANIMATION END */
/* HERO SECTION STYLES END */


/* ABOUT SECTION STYLES START */
#about {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(45deg, #383737 0%,#202020 100%);
}

.about-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, #383737 0%,#202020 100%);
    padding-top: 7%;
}

.about-me div:nth-child(2) {
    text-align: center;
    width: 80%;
    padding: 30px;
    letter-spacing: 3px;
    line-height: 1.3;
    background: linear-gradient(135deg, #202020 0%,#2b3036 100%);
}

.about-me div:nth-child(2) h2 {
    text-shadow: 0 0 10px #80b5f5;
}

.about-me div:nth-child(2) p {
    font-size: 24px;
}

.skill-lists {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #202020 0%,#2b3036 100%);
    padding: 7% 0 0 0;
    text-shadow: 0 0 10px #80b5f5;
}

.list-styles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%
}

.bullet-design-left {
    border-top: solid 2px antiquewhite;
    border-bottom: solid 2px antiquewhite;
    border-right: solid 2px antiquewhite;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.bullet-design-right {
    border-top: solid 1px antiquewhite;
    border-bottom: solid 1px antiquewhite;
    padding-left: 20px;
}

.skills {
    font-size: max(2vw, 28px);
    align-items: flex-start;
    letter-spacing: 5px;
    padding-left: 5px;
}

.skills p {
    padding: 30px 0;
    background: linear-gradient(45deg, #383737 0%,#202020 100%);
    width: 135%;
}
/* ABOUT SECTION STYLES END */

/* PROJECTS SECTION STYLES START */
#projects {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(0deg, #144553 0, #0e1316 100%); */
    background-image: url(../images/transparent-5-moon-180.png),linear-gradient(0deg, #0a1f25 0, #0e1316 100%); 
    background-position: center;
    background-size: cover;   
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

#projects-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-wrapper {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-wrapper:hover .project{
    margin-left: 40vw;
}

.project {
    width: 20vw;
    height: 15vh;
    border: 3px solid antiquewhite;
    background-color: #202020;
}

.project:hover {
    margin-left: 10vw;
}
/* PROJECTS SECTION STYLES END */

/* CONTACT SECTION STYLES START */
.contact {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #0a1f25 0, #0e1316 100%);
}
/* CONTACT SECTION STYLES END */

/* FOOTER STYLES START */
footer {
    background-color: #383737;
    width: 100%;
    height: 4vh;
}
/* FOOTER STYLES END */